@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Source+Sans+Pro&display=swap');
.App{
  /* font-family: 'Poppins', sans-serif;
  font-family: 'Source Sans Pro', sans-serif; */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  /* font-family: 'Montserrat', sans-serif; */
}
.editor{
  background-color: bisque;
}